* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
body {
    width: 100%;
    background-image: url("../images/backg.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Roboto;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    background: black;
}
.fixed-menu {
    position: fixed;
    top: 0;
}
header li{
    display: inline-block;
}
header a {
    padding: 10px 3px;
    margin: 10px 35px;
    font-size: 13px;
}
header a:hover {
    color:#6bf;
}
.titulo-iphone {
    font-size: 50px;
    color: white;
    text-align: center;
}
.subtitulo-iphone {
    font-size: 25px;
    color: white;
}
main {
    text-align: center;
    height: 650px;
}
main li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
main a {
    color: #6bf;
}
footer {
    height: auto;
    background: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px;
}
.top-footer {
    width: 70%;
    height: 30px;
    margin: auto;
    padding: 5px;
    color: grey;
    border-bottom: 1px solid #d6d6d6;
}
.mid-footer {
    width: 70%;
    height: 390px;
    margin: auto;
    
}
.ul-footer {
    float: left;
    width: 20%;    
    padding: 5px;
    box-sizing: border-box;
    line-height: 28px;
}
.ul-footer a {
    color: grey;
}
.botton-footer {
    width: 70%;
    height: 25px;
    margin: auto;
    padding: 5px;
    color: grey;
    border-bottom: 1px solid #d6d6d6;
}
.rights {
    width: 70%;
    height: 15px;
    margin: auto;
    padding: 5px;
    color: grey;
}
.nav-botton {
    width: 70%;
    height: 25px;
    margin: auto;
    padding: 5px;
    color: grey;
}
.nav-botton li {
    display: inline-block;
}
.nav-botton a {
    color: grey;
    padding: 10px 5px 10px 0;
    margin: 10px 15px 15px 0;
}