* {
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    background-color: rgb(245, 245, 245);
    color: #717171;
    height: 100%;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: #717171;
}
li {
    list-style: none;
}
input[type=checkbox] {
    margin-right: 5px;
}
span {
    margin: 0 10px;
}
.yellow {
    color: yellowgreen;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.underline-red {
    border-bottom: 2px solid red;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
header {
    width: 100%;
    height: auto;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: auto;
}
.menu-div {
    display: flex;
    align-items: center;
    flex-grow: 2;
}
.search-div {
    flex-grow: 10;
    margin-right: 150px;
    font-size: 19px;
}
.sesion-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.menu {
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}
.gmail {
    font-size: 40px;
    color: red;
}
.logo {
    font-size: 25px;
    margin-left: 5px;
}
.input-search {
    background-color: #d4d4d4;
    width: 80%;
    margin-right: 10px;
    padding: 10px;
    border: none;
    font-size: 17px;
}
.div-sesion-user {
    padding: 10px;
    display: flex;
    align-items: center;
}
.perfil-img {
    widows: 35px;
    height: 35px;
    border-radius: 17.5px;
}
main {
    width: 100%;
    display: flex;
}
.aside1 {
    width: 20%;
    height: 100vh;
    padding-top: 71px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside1-top {
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.redactar-div {
    width: 80%;
    height: 45px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 1px 1px 4px grey;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redactar-div:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px grey;
}
.plus-color {
    color: red;
    font-size: 25px;
}
.aside1 ul li {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15.5px;
    margin-bottom: 5px;
}
.aside1 ul li:hover {
    background: rgb(209, 209, 209);
}
.user-chats {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
}
section {
    width: 100%;
    height: 100vh;
    padding-top: 71px;
    box-sizing: border-box;    
}
.email-list {
    width: 100%;
    height: 450px;
    overflow: auto;
}
.inbox-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.div-left-ops, .div-right-ops {
    display: flex;
}
.div-single-ops {
    padding: 10px;
}
.bandejas {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.bandejas-option {
    width: 250px;
    height: auto;
    padding: 20px;
}
.bandejas-option:hover {
    background-color: rgb(245, 245, 245);
    color: black;
}
.table-email {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}
.tr-email {
    width: 100%;
    padding: 50px;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.tr-email td {
    padding: 8px;
}
.td-drag {
    width: 2%
}
.td-remitente {
    width: 29%;
}
.td-mensaje {
    width: 60%;
}
.td-fecha {
    width: 9%;
    text-align: right;
}
.star {
    margin-right: 5px;
}
.aside2 {
    width: 60px;
    height: 100vh;
    padding-top: 71px;
    box-sizing: border-box;
    border-left: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-ops-top, .right-ops-botton{
    width: 100%;
}
.right-ops {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-chats-ops {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(211, 211, 211);
}
.chat-op {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-ops {
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-chats {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    box-sizing: border-box;
}